table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.div-type-e {
    display: inline-block;
    border: 2px solid red;
    margin: 8px;
    padding: 8px;
}