.phplab5__main {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.phplab5__sidebar {
    margin-top: 16px;
    margin-left: 16px;
    min-width: 220px;
}

.phplab5__content-view {
    padding: 16px;
}

.digit-table__column {
    align-items: stretch;
}

.divCell {
    padding: 8px;
    display: block;
    margin: 4px;
    text-align: center;
}

.column:nth-child(2n + 1) .divCell:nth-child(2n + 1) {
     background: #e4e4e4;
 }
.column:nth-child(2n + 1) .divCell:nth-child(2n) {
    background: #d4d4d4;
}
.column:nth-child(2n) .divCell:nth-child(2n) {
    background: #e4e4e4;
}
.column:nth-child(2n) .divCell:nth-child(2n + 1) {
    background: #d4d4d4;
}